click==7.1.2
Flask==1.1.2
flask-marshmallow==0.14.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
six==1.15.0
SQLAlchemy==1.3.22
Werkzeug==1.0.1
alembic==1.5.2
click==7.1.2
Flask==1.1.2
flask-marshmallow==0.14.0
Flask-Migrate==2.6.0
Flask-SQLAlchemy==2.4.4
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.4
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
psycopg2==2.8.6
python-dateutil==2.8.1
python-editor==1.0.4
six==1.15.0
SQLAlchemy==1.3.22
Werkzeug==1.0.1
alembic==1.5.2
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.3.1
Babel==2.6.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.4
Brlapi==0.7.0
catfish==1.4.13
ccsm==0.9.14.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.3
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distlib==0.3.0
distro==1.4.0
Django==3.1.4
dnspython==2.1.0
email-validator==1.1.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-BabelEx==0.9.3
Flask-Compress==1.4.0
Flask-Dance==3.2.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==2.6.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==4.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
geocoder==1.38.1
grpcio==1.16.1
httplib2==0.14.0
idna==2.10
ifaddr==0.1.6
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
kazam==1.4.5
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
ldap3==2.9
louis==3.12.0
Mako==1.1.4
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
menulibre==2.2.1
more-itertools==4.2.0
mugshot==0.4.2
netifaces==0.10.4
nose==1.3.7
oauthlib==3.1.0
onboard==1.4.1
packaging==20.3
paramiko==2.7.2
passlib==1.7.2
pexpect==4.6.0
Pillow==7.0.0
protobuf==3.6.1
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.3.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyparted==3.11.2
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.15.0
python-editor==1.0.4
python-xapp==2.0.1
pytz==2020.4
pyxdg==0.26
PyYAML==5.3.1
ratelim==0.1.6
redis==3.5.3
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rq==1.7.0
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
six==1.15.0
soupsieve==1.9.5
speaklater==1.3
SQLAlchemy==1.3.22
sqlparse==0.3.1
sshtunnel==0.4.0
systemd-python==234
tweepy==3.9.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.26.2
URLObject==2.4.3
virtualenv==20.0.17
wadllib==1.3.3
Werkzeug==1.0.1
WTForms==2.2.1
xkit==0.0.0
zeroconf==0.24.4
zipp==1.0.0
alembic==1.5.2
amqp==5.0.5
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.3.1
Babel==2.6.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
billiard==3.6.3.0
blinker==1.4
Brlapi==0.7.0
catfish==1.4.13
ccsm==0.9.14.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distlib==0.3.0
distro==1.4.0
Django==3.1.4
dnspython==2.1.0
email-validator==1.1.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-BabelEx==0.9.3
Flask-Compress==1.4.0
Flask-Dance==3.2.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==2.6.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==4.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
geocoder==1.38.1
grpcio==1.16.1
httplib2==0.14.0
idna==2.10
ifaddr==0.1.6
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
kazam==1.4.5
keyring==18.0.1
kombu==5.0.2
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
ldap3==2.9
louis==3.12.0
Mako==1.1.4
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
menulibre==2.2.1
more-itertools==4.2.0
mugshot==0.4.2
netifaces==0.10.4
nose==1.3.7
oauthlib==3.1.0
onboard==1.4.1
packaging==20.3
paramiko==2.7.2
passlib==1.7.2
pexpect==4.6.0
Pillow==7.0.0
prompt-toolkit==3.0.14
protobuf==3.6.1
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.3.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyparted==3.11.2
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.15.0
python-editor==1.0.4
python-xapp==2.0.1
pytz==2020.4
pyxdg==0.26
PyYAML==5.3.1
ratelim==0.1.6
redis==3.5.3
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rq==1.7.0
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
six==1.15.0
soupsieve==1.9.5
speaklater==1.3
SQLAlchemy==1.3.22
sqlparse==0.3.1
sshtunnel==0.4.0
systemd-python==234
tweepy==3.9.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.26.2
URLObject==2.4.3
vine==5.0.0
virtualenv==20.0.17
wadllib==1.3.3
wcwidth==0.2.5
Werkzeug==1.0.1
WTForms==2.2.1
xkit==0.0.0
zeroconf==0.24.4
zipp==1.0.0
